/ARIMA.py
/ARIMAcombi.csv
/Daily inbound.xlsx
/Daily outbound.xlsx
/exam_solution.ipynb
/exam_solution.py
/Inbounddaily.xlsx
/OUtbound.xlsx
/prediction.csv
/prediction5_0_1.csv
/prediction8_1_3.csv
/test.csv
/testpred.csv
/testpred1_0_5.csv
/testpred5_0_1.csv
/testpred8_1_3.csv
/test_in_data.csv
/test_outp_data.csv
/test_out_data.csv
/~$Inbounddaily.xlsx
/~$OUtbound.xlsx